@use "reset";
@use "colors" as *;
@use "breakpoints" as *;

body {
  font-size: 1.5rem;
  min-height: 100vh;
  font-family: "Spartan", sans-serif;
  background-image: url("../images/bg-pattern-top-mobile.svg"),
    url("../images/bg-pattern-bottom-mobile.svg");
  background-repeat: no-repeat, no-repeat;
  background-position: left top, right bottom;

  @include breakpoint(medium) {
    background-image: url("../images/bg-pattern-top-desktop.svg"),
      url("../images/bg-pattern-bottom-desktop.svg");
  }
  display: grid;
  place-content: center;
}

.container {
  margin: 8rem 2rem 2rem 2rem;
  display: grid;
  gap: 2.8rem;
  grid-template-areas: "main" "ratings" "testimonials";

  @include breakpoint(medium) {
    margin: 0 4rem;
    grid-template-areas: "main ratings" "testimonials testimonials";
    grid-template-columns: 2fr 3fr;
    grid-template-rows: max-content max-content;
  }

  @include breakpoint(large) {
    margin: 0 auto;
    width: 111rem;
    gap: 4rem;
  }

  @include breakpoint(x-large) {
    grid-template-columns: 1fr 1fr;
  }
}

.main {
  grid-area: main;
  text-align: center;

  @include breakpoint(medium) {
    text-align: left;
  }

  &__title {
    color: $dk-magenta;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1.4rem;

    @include breakpoint(medium) {
      font-size: 3.8rem;
      margin-bottom: 3.2rem;
    }

    @include breakpoint(large) {
      font-size: 4.8rem;
      width: 12ch;
    }
  }

  &__description {
    color: $dk-grayish-magenta;
    line-height: 1.5;
    margin-bottom: 3.4rem;

    @include breakpoint(large) {
      width: 38ch;
    }
  }
}

.ratings {
  grid-area: ratings;
  width: 100%;
  display: grid;
  gap: 1.4rem;
  grid-template-rows: min-content min-content min-content;

  @include breakpoint(medium) {
    justify-content: end;
  }

  &__card {
    background-color: $lt-grayish-magenta;
    border-radius: 1rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.6rem;
    height: fit-content;
    width: 100%;

    @include breakpoint(medium) {
      width: 44rem;
      &:nth-child(1) {
        transform: translateX(-9rem);
      }
      &:nth-child(2) {
        transform: translateX(-4.5rem);
      }
    }

    @include breakpoint(large) {
      flex-direction: row;
      justify-content: space-evenly;
    }

    &__stars {
      display: flex;
      gap: 1rem;
    }

    &__title {
      color: $dk-magenta;
      font-size: 1.3rem;
      font-weight: 700;
    }
  }
}

.testimonials {
  grid-area: testimonials;
  display: grid;
  gap: 1.4rem;

  @include breakpoint(medium) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include breakpoint(large) {
    gap: 3.2rem;
  }

  &__card {
    background-color: $dk-magenta;
    color: $white;
    border-radius: 1rem;
    padding: 3.6rem 2.4rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;

    @include breakpoint(medium) {
      &:nth-child(2) {
        transform: translateY(1.5rem);
      }
      &:nth-child(3) {
        transform: translateY(3rem);
      }
    }

    @include breakpoint(large) {
      padding: 4rem 3rem;
    }

    &__customer {
      display: grid;
      align-items: center;
      grid-template-columns: min-content 1fr;
      grid-template-areas:
        "img name"
        "img verified";

      &__img {
        grid-area: img;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        margin-right: 2rem;
      }

      &__name {
        grid-area: name;
        font-weight: 700;
      }

      &__verified {
        grid-area: verified;
        font-size: 1.4rem;
        color: $soft-pink;
      }
    }

    &__quote {
      line-height: 1.5;
      font-weight: 500;
      color: $lt-grayish-magenta;
    }
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 1rem;

  @include breakpoint(medium) {
    width: 100vw;
    position: absolute;
    bottom: 1rem;
    margin: 0;
  }

  a {
    color: hsl(228, 45%, 44%);
  }
}
